@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Gowun+Batang:wght@400;700&family=Unlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url("https://use.typekit.net/ufd8kuu.css");
@import url("https://use.typekit.net/slq2pxe.css");

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f1ea;
    overflow: hidden;
}


.navbar {
    position: fixed;
    top: 25px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    z-index: 10;
  }
  
  .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
  
  .nav-button {
    color: #ead4ad;
    border: 2px solid rgba(255, 215, 175, 0.5);
    font-size: 10px;
    cursor: pointer;
    font-family: "hwt-arabesque", sans-serif;
    transition: background-color 0.5s, transform 0.3s, box-shadow 0.5s;
    border-radius: 50px;
    padding: 15px 30px;
    text-decoration: none;
  }
  
  .nav-button:hover {
    background: linear-gradient(135deg, rgba(148, 1, 1, 0.8), rgba(76, 22, 9, 0.9));
    transform: scale(1.05) rotate(-1deg);
    box-shadow: 0px 0px 30px rgba(255, 220, 190, 0.6);
  } 

  .text {
    position: absolute; /* Position the text relative to the viewport */
    top: 100px; /* Move the text image to the top of the page */
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 2; 
    text-align: center;
}

.text img {
    max-width: 90%;
    height: auto;
    display: block;
}
  
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    perspective: 1000px;
    margin-top: 200px
}

.card {
    width: 300px;
    height: 450px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
}

.card:hover {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 85%;
    height: 95%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.card-front {
    background-color: #c7a17a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-back {
    background-color: #fff;
    background-image: url(story-1.png);
    background-position: 0%;
    background-size: cover;
    transform: rotateY(180deg);
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

.card-back h2 {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #6b4e36;
    z-index: 1;
    font-family: "Yatra One", sans-serif;
}

.card-back p {
    font-size: 0.1em;
    color: #333;
    line-height: 1.4;
    font-family: "Yatra One", sans-serif;
}
