.nav-header {
  position: fixed;
  top: 20px;
  left: 0;
  right: -50;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0px;
  z-index: 10;
}
.arrow {
  font-size: 24px;
  text-decoration: none;
  color: #ead4ad;
  padding: 5px 10px;
}

.arrow-left {
  position: absolute;
  left: 10px;
  top: 20px;
}

.arrow-right {
  position: absolute;
  right: 20px;
  top: 20px;
}
  body {
    margin: 0;
    overflow: hidden;
    background-color: #ead4ad; /* Dark coffee background */
}

#coffee-ground-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    margin: 0;
    gap: 1px;
    flex-wrap: wrap;
}

.coffee-ground {
    width: 10px; /* Adjust size as needed */
    height: 10px; 
    background-image: url('ground.png');
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* Optional, depending on the image shape */
    transition: transform 0.1s ease, filter 0.2s ease;
    padding: 0%;
    margin-top: 0%;
    gap: 1px;
}

.coffee-ground:hover {
    transform: scale(2);
    filter: brightness(0.8); /* Darken the image on hover */
    box-shadow: 0px 0px 30px rgba(255, 220, 190, 2); 
}
