@import url("https://use.typekit.net/ufd8kuu.css");
@import url("https://use.typekit.net/gqn6jle.css");
@import url("https://use.typekit.net/pfh6bqf.css");
@import url("https://use.typekit.net/slq2pxe.css");


html, body{
    background: rgb(76,22,9,1);
    background-size: 100vw;
    margin: 0;
    padding: 0;
    overflow-y: scroll; 
    height: 200vh; 
    scroll-behavior: smooth;
}
.container {
    height: 100vh;
    margin-top: 0%;
    background: radial-gradient(circle, rgba(126,7,7,1) 0%, rgba(76,22,9,1) 82%);
    display: relative;
    text-align: center;
    color: #ead4ad;
    padding: 20px;
    display: flex;    
    flex-direction: column;
    justify-content: center;
}
h1{
    color: #ead4ad;
    margin: 0;
    font-weight: 700;
    font-family: "baucher-gothic-urw", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 150px;
    letter-spacing: 2px;
} 
h2{
    font-family: "ltc-bodoni-175", serif;
    font-weight: 400;
    font-style: normal;
    padding:0px;
}

.senses {
    height: 100vh;
    background-image: url(rug-png.png);
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ead4ad;
    padding: 20px;
}

.sense-list {
    list-style-type: none;
    padding: 0;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.sense-button {
    position: relative;
    background: linear-gradient(135deg, rgba(148, 1, 1, 0.8), rgba(76, 22, 9, 0.9)); 
    color: #ead4ad;
    border: 2px solid rgba(255, 215, 175, 0.5); 
    font-size: 20px;
    cursor: pointer;
    font-family: "hwt-arabesque", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: background-color 0.5s, transform 0.3s, box-shadow 0.5s; 
    border-radius: 50px; 
    padding: 15px 30px; 
    margin: 15px;
    z-index: 1; 
    text-decoration: none;
}

.sense-button:hover {
    background: linear-gradient(135deg, rgba(245, 222, 179, 0.9), rgba(235, 164, 119, 0.9)); 
    color: #4c1609;
    transform: scale(1.05) rotate(-1deg); 
    box-shadow: 0px 0px 30px rgba(255, 220, 190, 0.6); 
}


.sense-button:active {
    transform: scale(0.98) rotate(0deg); 
}
