@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url("https://use.typekit.net/ufd8kuu.css");
@import url("https://use.typekit.net/gqn6jle.css");
@import url("https://use.typekit.net/pfh6bqf.css");
@import url("https://use.typekit.net/slq2pxe.css");

body {
  margin: 0;
  padding: 0;
  font-family: 'Yatra One', cursive;
  background-color: #f0f8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  transition: background-color 0.5s ease;
}

body.dark-mode {
  background-color: #000;
}

.nav-header {
  position: fixed;
  top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 10;
}
.arrow {
  font-size: 24px;
  text-decoration: none;
  color: #ead4ad;
  padding: 5px 12px;
}

.arrow-left {
  position: absolute;
  left: 20px; /* spaced right of home icon */
  top: 20px;
}

.arrow-right {
  position: absolute;
  right: 20px;
  top: 20px;
}
.container { 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.center-image {
  position: relative;
  width: 700px;
  height: 700px;
  cursor: pointer;
}

.image-before,
.image-after {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease;
}

.image-before {
  background-image: url('coffee-grounds-before.png');
  opacity: 1;
  z-index: 1;
}

.image-after {
  background-image: url('coffee-grounds-after.png');
  opacity: 0;
  z-index: 2;
}

.center-image.clicked .image-before {
  opacity: 0;
}

.center-image.clicked .image-after {
  opacity: 1;
}


.symbol {
  position: absolute;
  font-size: 2rem;
  color: #f0f8ff;;
}


.symbol1 {
  top: 10%;
  left: 20%;
}

.symbol2 {
  top: 30%;
  right: 15%;
}

.symbol2 img{
    height: 170px;
    width:auto;
    transition: opacity 0.5s ease;
}

.symbol3 {
  bottom: 20%;
  left: 10%;
}

.symbol3 img{
    height: 170px;
    width: auto;
    transition: opacity 0.5s ease;
}

.symbol4 {
  bottom: 10%;
  right: 7%;
  font-size: medium;
  color: black;
}
.symbol2,
.symbol3 {
  opacity: 0;
  pointer-events: none;
}

