@import url("https://use.typekit.net/vnm2ync.css"); 
@import url("https://use.typekit.net/ufd8kuu.css");
@import url("https://use.typekit.net/ufd8kuu.css");
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Gowun+Batang:wght@400;700&family=Unlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url("https://use.typekit.net/ufd8kuu.css");
@import url("https://use.typekit.net/slq2pxe.css");
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4c1609;
    overflow-x: hidden;
    justify-content: center;
    height: 100vh; 
}
/* Scrolling text container */
.scrolling-sentence {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    z-index: 9; /* Lower z-index to place behind the nav bar */
    animation: scroll 18s linear infinite;
    pointer-events: none; /* Prevent interference with clicks on nav bar */
}

.scrolling-sentence h1 {
    font-family: "parfumerie-script", cursive, sans-serif;
    font-weight: 400;
    font-size: 80px;
    font-style: normal;
    letter-spacing: 5px;
    margin: 0;
    color: #ead4ad;
}

/* Navigation bar */
.navbar {
    position: fixed;
    top: 0; /* Align at the top of the page */
    width: 100%;
    padding: 10px 0;
    text-align: center;
    z-index: 10; /* Higher z-index to appear in front of scrolling text */
    background-color: rgba(76, 22, 9, 0.9); /* Semi-transparent background */
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.nav-button {
    color: #ead4ad;
    border: 2px solid rgba(255, 215, 175, 0.5);
    font-size: 10px;
    cursor: pointer;
    font-family: "hwt-arabesque", sans-serif;
    transition: background-color 0.5s, transform 0.3s, box-shadow 0.5s;
    border-radius: 50px;
    padding: 15px 30px;
    text-decoration: none;
}

.nav-button:hover {
    background: linear-gradient(135deg, rgba(148, 1, 1, 0.8), rgba(76, 22, 9, 0.9));
    transform: scale(1.05) rotate(-1deg);
    box-shadow: 0px 0px 30px rgba(255, 220, 190, 0.6);
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-150%);
    }
}

h1 {
    font-size: 48px;
    color: #ead4ad;
    margin-bottom: 20px;
}

.photo-album {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
}

.photo {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid #eeeeee;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.6s ease, z-index 0.6s ease;
}

#photo-1 {
    transform: rotate(-5deg);
    z-index: 1;
}

#photo-2 {
    transform: rotate(5deg);
    z-index: 2;
}

#photo-3 {
    transform: rotate(-10deg);
    z-index: 3;
}

#photo-4 {
    transform: rotate(-10deg);
    z-index: 4;
}
#photo-5 {
    transform: rotate(15deg);
    z-index: 5;
}
#photo-6 {
    transform: rotate(0deg);
    z-index: 6;
}

.photo-album:hover .photo {
    transform: none;
}

.photo-album:hover #photo-1 {
    transform: translateX(-350px); 
}

.photo-album:hover #photo-2 {
    transform: translateX(0); 
}

.photo-album:hover #photo-3 {
    transform: translateX(350px); 
}

.photo-album:hover #photo-4 {
    transform: translateX(350px) translateY(450px); 
}

.photo-album:hover #photo-5 {
    transform: translateX(0px) translateY(450px); 
}

.photo-album:hover #photo-6 {
    transform: translateX(-350px) translateY(450px); 
}

.photo img {
    width: 100%;
    height: 100%;
}


