@import url("https://use.typekit.net/vnm2ync.css"); 
@import url("https://use.typekit.net/ufd8kuu.css");
@import url("https://use.typekit.net/ufd8kuu.css");
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Gowun+Batang:wght@400;700&family=Unlock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amita:wght@400;700&family=Yatra+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
@import url("https://use.typekit.net/ufd8kuu.css");
@import url("https://use.typekit.net/slq2pxe.css");
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4c1609;
    overflow-x: hidden;
    justify-content: center;
    height: 100vh; 
}

.nav-header {
    position: fixed;
    top: 20px;
    left: 0;
    right: -50;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0px;
    z-index: 10;
  }
  .arrow {
    font-size: 24px;
    text-decoration: none;
    color: #ead4ad;
    padding: 5px 12px;
  }
  
  .arrow-left {
    position: absolute;
    left: 10px;
    top: 20px;
  }
  
  .arrow-right {
    position: absolute;
    right: 20px;
    top: 20px;
  }

.scrolling-sentence {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    z-index: 9; /* Lower z-index to place behind the nav bar */
    animation: scroll 18s linear infinite;
    pointer-events: none; /* Prevent interference with clicks on nav bar */
}

.scrolling-sentence h1 {
    font-family: "parfumerie-script", cursive, sans-serif;
    font-weight: 400;
    font-size: 80px;
    font-style: normal;
    letter-spacing: 5px;
    margin: 0;
    color: #ead4ad;
}


@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-150%);
    }
}

h1 {
    font-size: 48px;
    color: #ead4ad;
    margin-bottom: 20px;
}

.photo-album {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
}

.photo {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid #eeeeee;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.6s ease, z-index 0.6s ease;
}

#photo-1 {
    transform: rotate(-5deg);
    z-index: 1;
}

#photo-2 {
    transform: rotate(5deg);
    z-index: 2;
}

#photo-3 {
    transform: rotate(-10deg);
    z-index: 3;
}

#photo-4 {
    transform: rotate(-10deg);
    z-index: 4;
}
#photo-5 {
    transform: rotate(15deg);
    z-index: 5;
}
#photo-6 {
    transform: rotate(0deg);
    z-index: 6;
}

.photo-album:hover .photo {
    transform: none;
}

.photo-album:hover #photo-1 {
    transform: translateX(-350px); 
}

.photo-album:hover #photo-2 {
    transform: translateX(0); 
}

.photo-album:hover #photo-3 {
    transform: translateX(350px); 
}

.photo-album:hover #photo-4 {
    transform: translateX(350px) translateY(450px); 
}

.photo-album:hover #photo-5 {
    transform: translateX(0px) translateY(450px); 
}

.photo-album:hover #photo-6 {
    transform: translateX(-350px) translateY(450px); 
}

.photo img {
    width: 100%;
    height: 100%;
}


